.part44{
    width: 100%;
    height: 350px;
    background-color: black;
    color: aliceblue;
    display: flex;
}
.foot1{
    width: 33%;
    padding-top: 40px;
    padding-left: 40px;
}
.foot2{
    width: 33%;
    text-align: center;
}
.foot3{
    width: 34%;

}
.foot1 p{
    padding-top: 20px;
}
.foot2 h5{
    padding-top: 30px;
}
.foot2 h2{
    padding-top: 40px;
}
.img{
 padding-top: 30px;
  padding-bottom: 30px;

}
